.product{
    display: flex;
    border-bottom:2px dotted green;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right:10px;
}
.product-name{
    color:salmon;
    font-weight:400px;
}
.btn-bottom{
    background-color:goldenrod;
    width:150px;
    height: 30px;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    cursor:pointer;
}